{% extends 'base.html.twig' %}

{% block title %}Praxis index{% endblock %}

{% block body %}
    <h1>Practica index</h1>

    {% if practica|length > 0 %}

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Achtung</th>
                    <th>Name</th>
                    <th>Rating</th>
                    <th>IsFavorite</th>
                    <th>Date</th>
                    <th>Ordinal</th>
                    <th>Description</th>
                    <th>Tq</th>
                    <th>Tl</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for praxis in practica %}
                <tr>
                    <td>{{ praxis.id }}</td>
                    <td>{{ praxis.achtung }}</td>
                    <td>{{ praxis.name }}</td>
                    <td>{{ praxis.rating }}</td>
                    <td>{{ praxis.isFavorite ? 'Yes' : 'No' }}</td>
                    <td>{{ praxis.date ? praxis.date|date('Y-m-d') : '' }}</td>
                    <td>{{ praxis.ordinal }}</td>
                    <td>{{ praxis.description }}</td>
                    <td>{{ praxis.tq }}</td>
                    <td>{{ praxis.tl }}</td>
                    <td>
                        <a href="{{ path('app_practica_show', {'id': praxis.id}) }}">show</a>
                        <a href="{{ path('app_practica_edit', {'id': praxis.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="11">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% endif %}

    <a href="{{ path('app_practica_new') }}">Create new</a>
{% endblock %}
