{% extends 'base.html.twig' %}

{% block title %}Praxis{% endblock %}

{% block body %}
    <h1>Praxis</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ praxi.id }}</td>
            </tr>
            <tr>
                <th>Achtung</th>
                <td>{{ praxi.achtung }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ praxi.name }}</td>
            </tr>
            <tr>
                <th>Rating</th>
                <td>{{ praxi.rating }}</td>
            </tr>
            <tr>
                <th>IsFavorite</th>
                <td>{{ praxi.isFavorite ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ praxi.date ? praxi.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Ordinal</th>
                <td>{{ praxi.ordinal }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ praxi.description }}</td>
            </tr>
            <tr>
                <th>Tq</th>
                <td>{{ praxi.tq }}</td>
            </tr>
            <tr>
                <th>Tl</th>
                <td>{{ praxi.tl }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_practica_index') }}">back to list</a>

    <a href="{{ path('app_practica_edit', {'id': praxi.id}) }}">edit</a>

    {{ include('practica/_delete_form.html.twig') }}
{% endblock %}
