{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>Users index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Password</th>
                <th>Email</th>
                <th>Birthdate</th>
                <th>DefaultGenre</th>
                <th>Description1</th>
                <th>Description2</th>
                <th>Description3</th>
                <th>Description4</th>
                <th>GuiLanguage</th>
                <th>ResultsPerPage</th>
                <th>ListsOrder</th>
                <th>UserKind</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.birthdate ? user.birthdate|date('Y-m-d') : '' }}</td>
                <td>{{ user.defaultGenre }}</td>
                <td>{{ user.description1 }}</td>
                <td>{{ user.description2 }}</td>
                <td>{{ user.description3 }}</td>
                <td>{{ user.description4 }}</td>
                <td>{{ user.guiLanguage }}</td>
                <td>{{ user.resultsPerPage }}</td>
                <td>{{ user.listsOrder }}</td>
                <td>{{ user.userKind }}</td>
                <td>
                    <a href="{{ path('app_users_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('app_users_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="15">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_users_new') }}">Create new</a>
{% endblock %}
