<style>
    .locus-preview {
        border: solid thin black;
        background-color: #e72ea7;
        margin: 1em 0;
        padding: .5em;

        position: relative;

        border-radius: 10px;
        opacity: 0.9;
    }
</style>
<div class="locus-preview">
    <p><b><a href="{{ path('app_loca_show', {'id': id}) }}">{{ name }}</a></b> - {{ rating }}</p>
    <p>Country: {{ country }}</p>
    <p>Kind: {{ kind }}</p>
</div>