{% extends 'base.html.twig' %}

{% block title %}Locus index{% endblock %}

{% block body %}
    <h1>Loca index</h1>

    {% if loca|length > 0 %}

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Achtung</th>
                    <th>Name</th>
                    <th>Rating</th>
                    <th>IsFavorite</th>
                    <th>Address</th>
                    <th>Country</th>
                    <th>Kind</th>
                    <th>Description</th>
                    <th>CoordinatesExact</th>
                    <th>CoordinatesGeneric</th>
                    <th>Web</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for locus in loca %}
                <tr>
                    <td>{{ locus.id }}</td>
                    <td>{{ locus.achtung }}</td>
                    <td>{{ locus.name }}</td>
                    <td>{{ locus.rating }}</td>
                    <td>{{ locus.isFavorite ? 'Yes' : 'No' }}</td>
                    <td>{{ locus.address }}</td>
                    <td>{{ locus.country }}</td>
                    <td>{{ locus.kind }}</td>
                    <td>{{ locus.description }}</td>
                    <td>{{ locus.coordinatesExact }}</td>
                    <td>{{ locus.coordinatesGeneric }}</td>
                    <td>{{ locus.web }}</td>
                    <td>
                        <a href="{{ path('app_loca_show', {'id': locus.id}) }}">show</a>
                        <a href="{{ path('app_loca_edit', {'id': locus.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="13">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% endif %}

    <a href="{{ path('app_loca_new') }}">Create new</a>
{% endblock %}
